@import "../css/bootstrap-reboot.min"
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap')

@import "base/variables"  
@import "base/mixins"  

* 
  font-family: 'Inter'
  margin: 0
  padding: 0

.container 
  max-width: 1170px  
  margin: 0 auto

.polcadots 
  position: relative
  bottom: 165px
  left: 335px   
  &-img
    width: 174px
    height: 174px
  &-title 
    position: absolute
    z-index: -1
    top: 11px
    left: -55px  
  
@import "blocks/home"   
@import "blocks/menu"  
@import "blocks/button"  
@import "blocks/features" 
@import "blocks/benefits" 
@import "blocks/stars" 
@import "blocks/variety" 
@import "blocks/product" 
@import "blocks/ingredients" 
@import "blocks/footer" 

@import "blocks/media" 


