@import "../css/bootstrap-reboot.min"
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap')

@import "base/variables"  
@import "base/mixins"  

* 
  font-family: 'Inter'
  margin: 0
  padding: 0

.container 
  min-width: 1170px
  margin: 0 auto
  
@import "blocks/hero"   
@import "blocks/features" 
@import "blocks/benefits" 
@import "blocks/stars" 
@import "blocks/variety" 
@import "blocks/product" 
@import "blocks/ingredients" 
@import "blocks/footer" 
