.features
  padding: 113px 135px 0 135px
  min-height: 185px
  &__items
    margin-top: 57px
    margin-bottom: 57px
    display: flex
    justify-content: space-between
    align-items: center
  &__item
    display: flex 
    &-img 
      background-color: $background-color
      height: 70px
      width: 70px
      border-radius: 20%
      padding: 20px
      margin-right: 20px
    div 
      margin-top: 5px  
      color: $title-color
    &-title 
      font-weight: 400
      font-size: 18px
      line-height: 22px 
    &-subtitle 
      font-weight: 500
      font-size: 14px
      line-height: 17px   
.line 
  border: 1px solid #707070
  opacity: 0.15
